

form {
  width: 350px;
  margin: auto;
}

.box ul li:hover {
  transform: scale(1.1);
  z-index: 100;
  background: #25bcff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
  color: #fff;
  font-weight: bolder;
}

li{
  width: 50%;
  margin: auto;
}

h1{
  text-align: center;
}
