
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
         <form class="text-center"  [formGroup]="visitorForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="usr">Visitor Name: <span class="required"> *</span></label>
              <input type="text" class="form-control" formControlName="visitorName" >
            </div>

            <div class="form-group">
              <label for="phoneNo">Phone No: <span class="required"> *</span></label>
              <input type="tel" class="form-control" formControlName="phoneNo"  >
            </div>
            <div class="form-group">
              <label for="address">Address: <span class="required"> *</span></label>
              <textarea type="textarea" class="form-control textarea" formControlName="address"></textarea>
            </div>

            <div class="form-group">
              <label for="cName">Company Name:</label>
              <input type="text" class="form-control" formControlName="companyName">
            </div>

            <div class="form-group" formGroupName="visitorType">
                <label for="type">Visitor Type: <span class="required"> *</span></label><br>
                <select class="btn btn-info dropdown-toggle" formControlName="type">
                  <option *ngFor="let vType of visitorType" [ngValue]="vType.type"   >{{vType.type}}</option>
                </select>
            </div>

            <button type="submit"  class="btn btn-success">Update</button>
         </form>
         </div>
         </div>





