h1 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}


.error{
  color: red;
}

/* .body{
  background-color: darkgray;
} */

.required{
  color: red;
}
