<div class="body">


<h1> Change Password </h1>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">

      <span *ngIf="errMsgStatus" class="error">{{errMsg}}</span>
        <form class="text-center">
            <div class="form-group">
                <label for="text">Username: <span class="required"> *</span></label>
                <input
                type="text"
                id="text"
                class="form-control"
                name="username"
                [ngModel] = "loginUserData['username']"
                required
                #username="ngModel"
                disabled
                />
                <div *ngIf="username.invalid && (username.dirty || username.touched)">
                  <div *ngIf="username.errors.required" class="error">Username is required</div>
              </div>
            </div>

            <div class="form-group">
                <label for="password"> Old Password: <span class="required"> *</span></label>
                <input
                type="password"
                id ="password"
                class="form-control"
                name="password"
                [(ngModel)] = "loginUserData['password']"
                required
                minlength="6"
                #password="ngModel"
                />
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                  <div *ngIf="password.errors.required" class="error">Password is required</div>
                  <div *ngIf="password.errors.minlength" class="error">Password must be atleast 6 charcters</div>

              </div>
            </div>

            <div class="form-group">
              <label for="password"> New Password: <span class="required"> *</span></label>
              <input
              type="password"
              id ="password"
              class="form-control"
              name="resetPassword"
              [(ngModel)] = "loginUserData['resetPassword']"
              pattern = "^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
              required
              #resetPassword = "ngModel"
              />
              <div *ngIf="resetPassword.invalid && (resetPassword.dirty || resetPassword.touched)">
                <div *ngIf="resetPassword.errors.required" class="error">Password is required</div>
                <div class="error help-block" *ngIf="resetPassword.touched &&resetPassword.errors?.pattern">
                  Password should have minimum 6 characters, at least 1
                  Special Character and atleast 1 number
                </div>
              </div>
          </div>
                <div class="text-center">
                <button
                class="btn btn-primary"
                type="submit"
                (click) = "changePassword()"

                > Change Password </button>

                </div>

        </form>
    </div>
</div>

</div>
</div>
